.leftbar{
    height: 100vh;
    color: white;
    border-radius: 0 !important;
}

.shareTitle{
    display: block;
    text-decoration: none;
    position: relative;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    padding-top:1em;
}

.space{
    padding: 1em;
}

.main-content{
    height: 100vh;
    padding: 20px !important;
}

.title{
    /*padding: 20px !important;*/
}

.fileList{
    height: 50vh;
}

.dragdrop{
    height: 30vh !important;
    display: table;
    border: 4px dashed black;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
}

.dragdrop i{
    display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 768px) {
    .ui.vertical.menu.leftbar {
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
      width: 15rem !important;
    }
    .main-content {
      margin-left: 15rem;
    }
    .sidebar-menu-toggler {
      display: none !important;
    }
  }