<div class="pusher">
    {{#each filesInfo}}
    <div class="main-content" id="{{title}}">
        <h1 class="ui header title">{{title}}</h1>
        <div class="ui divider"></div>
        <div class="fileList">
            <div class="ui relaxed divided list">
                {{#each filesData}}
                <div class="item">
                    <i class="large {{icon}} middle aligned icon"></i>
                    <div class="content">
                        <p class="header">{{fileName}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="dragdrop">
            <i class="huge upload icon"></i>
        </div>
    </div>
    {{/each}}
</div>