<!DOCTYPE html>
<html>
    <head>
        <title>SambaGUI</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/leftbar.css" />
    </head>
    <body>
        {{> leftbar}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" />
    </body>
</html>